/* CSS files add styling rules to your content */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #FFCC00;
}

pre {
  background-color: darkslategray;
  color: coral;
  font-weight: bold;
}

#kinlogo {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 5%;
  height: 5%;
}

#kinheader {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 1em;
  width: 100%;
}

.glitchButton {
  float: right;
}

#kinavatar {
  position: absolute;
  top: 0;
  left: 10%;
  display: inline-block;
  background-color: white;
}

#kinwelcome {
  display: inline-block;
  float: left;
  color: white;
  padding-left: 20%;
  font-size: 8mm;
  font-weight: bold;
}

#kincontenido {
  display: inline-block;
  width: 95%;
  word-wrap: break-word;
  float: left;

  margin-top: 5em;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

/*
#kincontenido > div {
  background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
}
*/

.button {
  border: solid;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 5mm;
  width: 80%;
}

.button:hover {
  background-color: white;
  color: coral;
}

#salida {
  width: 100%;
}

#descripcion {
  background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
}

#tanque1 {
  height: 20em;
  background: linear-gradient(to top, red 0%, red 78%, white 78%, grey 100%);
  border: solid black;
}

#tanque2 {
  height: 20em;
  background: linear-gradient(to top, green 0%, green 28%, white 28%, grey 100%);
  border: solid black;
}

#tanque3 {
  height: 20em;
  background: linear-gradient(to top, purple 0%, purple 80%, white 80%, grey 100%);
  border: solid black;
}
